<div class="container">
  <div class="alert alert-secondary">ユーザー情報の登録ページです</div>
  <%= render "shared/errors", model: @user_friend %>
  <%= form_with model: @user_friend, url: users_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <div class="my-2">お友達を全て選択してください</div>
      <% unless User.all.any? %>
        <div>現在選択可能なお友達はいません</div>
      <% else %>
        <div class="form-check-inline">  
          <%= f.collection_check_boxes(:friends, User.all, :id, :name, { include_hidden: false, checked: @user_friend.friends}, {}) %>
        </div>
      <% end %>
    </div>
    <%= f.submit "ユーザー情報を登録する", class:"form-control my-2" %>
    <button type="button" class="form-control"><%= link_to "ユーザー一覧に戻る", users_path, class:"text-secondary text-decoration-none my-2" %></button>
  <% end %>
</div>